################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs/
obj/
.vs/
/test.test
/temp

/VAPM-Scanner/src/AcmeScanner/license.cfg
/VAPM-Scanner/src/AcmeScanner/pass_key.txt
/simple-samples/vulnerability/scan3rdParty-cSharp/src/scan-vuln/obj/Debug
/simple-samples/vulnerability/scan3rdParty-cSharp/src/scan-vuln/bin/Debug
/simple-samples/vulnerability/scan3rdParty-cSharp/src/packages/Newtonsoft.Json.13.0.1
/simple-samples/vulnerability/scan3rdParty-cSharp/src/.vs/WindowsOfflinePatch/FileContentIndex
/simple-samples/vulnerability/scan3rdParty-cSharp/src/.vs/scan-vuln
/VAPM-Scanner/src/AcmeScanner/v4debug.txt
!VAPM-Scanner/bin
.DS_Store
/HelloWorld/src/vapm x64
/HelloWorld/src/license/download_token.txt
/catalog-scripts/AppCentricFile/AppCentricFile/analog/analog
/catalog-scripts/AppCentricFile/FindCVE/CatalogExtract/analog
/catalog-scripts/AppCentricFile/FindCVE/app_centric.json
/catalog-scripts/AppCentricFile/FindCVE/analog.zip
/eval-license/license.cfg
/HelloWorld/src/SDKDownloader/packages.config
/HelloWorld/src/SDKDownloadLib/packages.config
/archives
/OPSWAT-SDK
/OPSWAT-SDK-Downloader/C-Sharp/src/packages
/OPSWAT-SDK-Downloader/PythonSDKDownloader/src/__pycache__
/HelloWorld/src/Patch-WOS/bin/x64/Debug
/OPSWAT-SDK-Downloader/C-Sharp/bin/Downloader.log
/OPSWAT-SDK-Downloader/C-Sharp/src/bin/Debug
/OPSWAT-SDK-Downloader/C-Sharp/src/bin/Release
/language-examples/go/build
/language-examples/go/inc
/language-examples/go/libs/win
/language-examples/go/license
/language-examples/go/download_token.txt
/language-examples/go/pass_key.txt
/eval-license/download_token.txt
/eval-license/pass_key.txt
/catalog-scripts/AppCentricFile/FindCVE/download_token.txt
/catalog-scripts/AppCentricFile/FindCVE/results_CVE-2008-4434_20251009_151048.txt
/catalog-scripts/AppCentricFile/FindCVE/results_CVE-2008-4434_20251010_154046.txt
/scripts/catalog/appcentric/AppCentricFile/CatalogExtract/analog
/scripts/catalog/appcentric/AppCentricFile/__pycache__
/scripts/catalog/appcentric/AppCentricFile/download_token.txt
/helloworld/windows-csharp/src/Patch-WOS/bin
/helloworld/windows-go/build
/helloworld/windows-go/inc
/helloworld/windows-go/libs/win/arm64
/helloworld/windows-go/libs/win/win32
/helloworld/windows-go/libs/win/x64
/sdk-downloader/C-Sharp/src/bin/Debug
/sdk-downloader/C-Sharp/src/packages/SharpZipLib.1.4.2
/sdk-downloader/C-Sharp/src/packages/System.Buffers.4.5.1/lib
/sdk-downloader/C-Sharp/src/packages/System.Buffers.4.5.1
/sdk-downloader/C-Sharp/src/packages/System.Memory.4.5.4
/sdk-downloader/C-Sharp/src/packages/System.Numerics.Vectors.4.5.0/lib
/sdk-downloader/C-Sharp/src/packages/System.Numerics.Vectors.4.5.0
/sdk-downloader/C-Sharp/src/packages/System.Runtime.CompilerServices.Unsafe.4.5.3
/sdk-downloader/C-Sharp/src/packages/System.Threading.Tasks.Extensions.4.5.2/lib
/sdk-downloader/C-Sharp/src/packages/System.Threading.Tasks.Extensions.4.5.2/ref
/sdk-downloader/C-Sharp/src/packages/System.Threading.Tasks.Extensions.4.5.2/version.txt
/sdk-downloader/C-Sharp/src/packages/System.Threading.Tasks.Extensions.4.5.2/LICENSE.TXT
/sdk-downloader/C-Sharp/src/packages/System.Threading.Tasks.Extensions.4.5.2
/sdk-downloader/C-Sharp/src/bin/Release
/sdk-downloader/PythonSDKDownloader/src/__pycache__
/sdk-downloader/script/src/__pycache__
/sdk-downloader/windows-csharp/src/bin
/sdk-downloader/windows-csharp/src/packages
/scripts/catalog-appcentric/GenChanges/CatalogExtract/analog
/scripts/catalog-appcentric/GenChanges/analog.zip
*.cfg
/eval-license/*/pass_key.txt
/eval-license/*/download_token.txt
/eval-license/*.zip
*.log
/scripts/catalog-appcentric/GetListOfChangedSigs/CatalogExtract/analog
/scripts/catalog-appcentric/GetListOfChangedSigs/analog.zip
/scripts/catalog-appcentric/GetListOfChangedSigs/download_token.txt
/scripts/catalog-appcentric/GetListOfChangedSigs/app_centric.json
/scripts/catalog-appcentric/GetListOfChangedSigs/cve_delta.json
