.vs/
vapm/*
sdk/*
license/*.*

DetectProducts/x64
DetectProducts/ARM
DetectProducts/Debug
DetectProducts/Release

ProcessCallback/x64
ProcessCallback/ARM
ProcessCallback/Debug
ProcessCallback/Release

RealTimeMonitoring/x64
RealTimeMonitoring/ARM
RealTimeMonitoring/Debug
RealTimeMonitoring/Release


SDKDownloader/x64
x64
Debug/*
Release/*
ARM/*
