# The DLP engine runtime is staged into sdk/ by prepare.py. It is large and not
# ours to redistribute, so it is never committed. Re-stage it locally with:
#     python prepare.py
sdk/*
!sdk/README.md

__pycache__/
*.pyc
